@use "sass:math";
@import "../variables";

.cvbn-navigation-bar-wrapper {
    margin-bottom: $menu-footer-height;

    @media #{$menu-mediaQuery} {
        margin-bottom: auto;
        margin-right: calc(#{$menu-min-width} + #{math.div($grid-gutter-width, 2)});
    }
}
